bin/rh_jboss_golden_images/build.log
bin/rh_jboss_golden_images/target
bin/rh_jboss_golden_images/builds/*.zip
bin/rh_jboss_binaries/*.zip
bin/rh_jboss_golden_images/eap_modules/ojdbc_modules/system/layers/base/com/oracle/main/ojdbc6.jar
bin/java_applications/ticket-monster
vagrant/.vagrant
vagrant/nexus/*.retry
roles/ZZZZ_jboss_eap
roles/ZZZZ_ticket-monster
roles/rh_jboss_web_server
roles/rh_jboss_eap_pet-clinic/files/deployments/petclinic-2.3.0.war
roles/rh_jboss_eap_ticket-monster/files/deployments/ticket-monster.war
site.retry
