# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
        . /etc/bashrc
fi

alias ll='ls -all'
alias la='ll -all'
alias l='ll'

alias sb='source ~/.bashrc'
alias vb='vi ~/.bashrc'
alias ..='cd ..'
