# This file contains a summary of the parametrization for the current instance.

# Golden image used
jboss_eap_golden_image_name: {{ jboss_eap_golden_image_name }}

# Value for the xms and xmx (both are equal)
jvm_xm: {{ jvm_xm }}

# Name of the separate JBoss EAP instance
jboss_eap_instance_name: {{ jboss_eap_instance_name }}
# Port offset for the JBoss EAP instance
jboss_eap_instance_port_offset: {{ jboss_eap_instance_port_offset }}

# Default value for the used standane xml file
jboss_eap_instance_standalone_file: {{ jboss_eap_instance_standalone_file }}

# Application lists
app_list: {{ app_list }}
app_mvn_list: {{ app_mvn_list }}
