## Process user
JBOSS_USER={{ jboss.user }}

## JBoss EAP home directory
JBOSS_HOME={{ jboss_home }}

## PID file
JBOSS_PIDFILE={{ jboss_eap_instance_dir }}/service/jboss-as-standalone.pid

## Waiting time for returning control to SHELL, it depends upon how many applications/services that will be deployed
STARTUP_WAIT=120
## Waiting time for returning control to SHELL, it depends upon how many applications/services that will be undeployed
SHUTDOWN_WAIT=30

## Console and Server log files
JBOSS_CONSOLE_LOG={{ jboss_eap_instance_dir }}/log/console.log

## Standalone file
JBOSS_CONFIG={{ jboss_eap_instance_standalone_file }}

export RUN_CONF={{ jboss_eap_instance_dir }}/configuration/standalone.conf
